.sidemenu-item {
  padding-inline: 20px;
  padding-block: 10px;
  background-color: transparent;
  border-radius: 10px;
  color: black;
  margin-bottom: 10px;
}

.sidemenu-item.selected,
.sidemenu-item.selected:hover {
  background-color: #1faae3;
  color: white;
}

.sidemenu-item.logout,
.sidemenu-item.logout:hover {
  background-color: rgb(250, 207, 207);
  color: red;
}

.sidemenu-item.login,
.sidemenu-item.login:hover {
  background-color: #c2edff;
  color: #008dc5;
}

.sidemenu-item:hover {
  background-color: #ebebeb;
}

.sidemenu-item.selected img {
  color: red;
}
